*{
  margin: 0;
  padding:0;
}
body{
	margin: 0 auto;
	font-size: 62.5%;
	font-family: '微软雅黑','黑体',Arial, serif ;
	width: 100%;
	min-width: 320px;
}
 
.header{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 6vh;
    background-color: #5fc0cd;
    color: #fff;
}
.header img{
    position: absolute;
    max-width: 100%;
    width: 2vh;
    left: 6%;
    top: 23%;
}
.header h1{
	position: absolute;
    width: 80%;
    text-align: center;
    top: 20%;
    left: 10%;
    font-size: 2.8vh;
}

.pic{
	margin: 0 auto;
	width: 100%;
	height: 240px;
	background:url(task5-1_02.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
}
.pic_img{
    display: inline-block;
    max-width: 100%;
    width: 83px;
    border-radius: 55%;
    margin-left: 5%;
    margin-top: 75px;;
}
.info{
	width: 68%;
	float: right;
}
.name{
    width: 80%;
    display: inline-block;
    margin-left: 14%;
    margin-top: 100px;
    font-size: 1.8em;
    font-weight: 400;
}
.position{
	position: relative;
    margin-left: 14%;
    margin-top: 10px;
    width: 57%;
    font-size: 1.4em;
    font-weight: 500;
}
.position_img{
	max-width: 100%;
    width: 14px
}

.skill{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 8vh;
    color: #333;
    font-weight: 600;
    font-size: 3vh;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #e1e5e7;
}
.skill_border{
    position: relative;
    margin-left: 3%;
    width: 50%;
}
.skill_img{
    max-width: 100%;
    height: 2vh;
    margin-left: 6%;
    margin-top: 4vh;
}

.content-1{
	position: relative;
	display: block;
	float: right;
	width: 95%;
	height: 8vh;
	color: #333;
	font-weight: 600;
	font-size: 2vh;
    border-bottom: 1px solid #e1e5e7;
}
.content-1_01{
    position: relative;
    text-align: center;
    width: 14%;
    top: 35%;
    left: 2.3%;
    border-right: 1px solid #e1e5e7;
}
.content-1_02{
    position: relative;

    text-align: center;
    width: 60%;
    top: 3%;
    right: 4.3%;
}
.content-1 img{
	max-width: 100%;
	width:  2vh;
}

.content-2{
	position: relative;
	display: block;
	float: right;
	width: 95%;
	height: 8vh;
	color: #333;
	font-weight: 600;
	font-size: 2vh;
    border-bottom: 1px solid #e1e5e7;
}
.content-2_01{
	position: 	relative;	
	float: 	left;	
	width: 	20%;
	top: 35%;
	padding-right: 1%;
	text-align: center;
	color: #999;
    border-right: 1px solid  #e1e5e7;
}
.content-2_02{
    position: relative;
    float: left;
    width: 70%;
    top: 35%;
    padding-left: 4%;
}
.content-2_03{
    position: relative;
    float: left;
    width: 37%;
    top: 35%;
    padding-left: 4%;
	color: #e26163;
}
.content-3{
	margin: 0 auto;
	position: relative;
	display: block;
	float: right;
	width: 95%;
	padding-left: 14%;
	height: 8vh;
	color: #333;
	font-weight: 600;
	font-size: 2vh;
	border-bottom: 1px solid #e1e5e7;
}
.content-2_04{
	display: inline-block;
    width: 63%;
    font-size: 1em;
    vertical-align: middle;
    padding: 2% 0 0 4%;
}
.footer{
	position: relative;
	float: left;
	margin:0;
	width: 50%;
	text-align: center;
}
.footer_left_text{
	position: relative;
    width: 70%;
    height: 20%;
 	margin: 20% 0 12% 8%;
    padding: 6%;
    font-size: 3vh;
    font-weight: 600;
    color: #5fc0cd;
    border: 2px solid #5fc0cd;
    border-radius: 8px;
}
.footer_right_text{
	position: relative;
    width: 70%;
    height: 20%;
    margin: 20% 0 12% 4%;
    padding: 6%;
    font-size: 3vh;
    font-weight: 600;
    color: #fff;
    background-color: #5fc0cd;
    border: 2px solid #5fc0cd;
    border-radius: 8px;
}
